body {
    background-color: rgb(60, 40, 40);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

textarea,
input,
button {
    line-height: 1.5rem;
    border: 0;
    outline: none;
    font-family: inherit;
    appearance: none;
}

textarea,
input {
    color: #4e5e72;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}

textarea {
    width: 100%;
    height: 8rem;
    resize: none;
}

input {
    width: 50%;
    margin-bottom: 1rem;
    &[type=text]:invalid,
    [type=email]:invalid {
        box-shadow: none;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(240, 132, 114, 0.5)' x='0' y='23' width='10' height='1'/></svg>");
    }
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: rgba(78, 94, 114, 0.9);
    color: white;
    font-size: 1rem;
    transition: background-color 0.2s;
    &:hover,
     :focus {
        outline: none;
        background-color: rgba(78, 94, 114, 1);
    }
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(78, 94, 114, 0.3)' x='0' y='23' width='10' height='1'/></svg>");
    outline: none;
}

.contact-form {
    background-color: white;
    margin: 30px auto;
    max-width: 50%;
    height: fit-content;
    border-radius: 16px;
}

.side {
    height: 12rem;
    background-color: #fcfcf8;
    outline: 1px solid transparent;
    &:nth-of-type(1) {
        padding: 2rem 2rem 0;
        border-radius: 1rem 1rem 0 0;
        box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
    }
    &.side:nth-of-type(2) {
        padding: 2rem;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05), inset 0 -0.57rem 2rem rgba(229, 225, 187, 0.5);
        text-align: right;
    }
}

.extra-content {
    padding: 50px 0;
}

.extra-content .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #b8aaaa;
}

.extra-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.extra-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}