/* Hero Section */

.hero {
    background-image: url('/assets/coffee_1.jpg');
    background-size: cover;
    background-position: center;
    color: #372e2e;
    text-align: center;
    padding: 200px 0;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
}


/* Main Content */

.product_container {
    text-align: center;
}

.specialties {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    flex: 0 0 calc(50% - 20px);
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
}

.product-card img {
    width: 50%;
    border-radius: 8px 0 0 8px;
}

.description {
    padding: 20px;
}

.description h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.description p {
    font-size: 18px;
}