/* General Styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #2b2b2b;
}

.container {
    margin: 20px auto;
    padding: 0 20px;
}


/* Navigation Styles */

nav {
    background-color: #271503;
    padding: 10px 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
}

nav .logo {
    color: #fff;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


/* Footer Styles */

footer {
    background-color: #663300;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /* Remove absolute positioning and width */
}